body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #ff7eb3, #65d6ce, #6a5acd);
  background-size: 600% 600%;
  animation: gradientBG 12s ease infinite;
  font-family: Arial, sans-serif;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: rgba(239, 2, 2, 0.3);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
.container h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #d7ea29;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

button {
  background: #4facfe;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #00ff11;
}

.result {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}
